<div class="content">
    <div class="row justify-content-center row-all-screen align-items-center">
        <%= form_with model: @task, url: @edit_new, class: "shadow p-3 bg-secondary rounded col-12", local: true do |f| %>
            <div class="col-12 mb-3">
                <%= f.label :state,'Stan', class:'col-sm-2 col-form-label text-light' %>
                <div class="col-sm-12">
                    <%= f.text_field :state, class:'form-control' %>
                </div>
            </div>
            <div class="col-12 mb-3">
                <%= f.label :descripton,'Opis', class:'col-sm-2 col-form-label text-light' %>
                <div class="col-sm-12">
                    <%= f.text_field :descripton, class:'form-control' %>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                   
                            <%= f.fields_for :steps do |step| %>
                                <%= render 'step_fields', form: step %>
                            <% end %>
                 
                        <div>
                            <%= link_to_add_association 'Dodaj krok', f, :steps,class:'btn btn-success mb-4' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <%= f.label :date_of_order,'Data przyjęcia', class:'col-sm-2 col-form-label text-light' %>
                    <%= f.date_field :date_of_order, class:'form-control' %>
                </div>
                <div class="col-md-4">
                    <%= f.label :start_date,'Data rozpoczęcia', class:'col-sm-2 col-form-label text-light' %>
                    <%= f.date_field :start_date, class:'form-control' %>
                </div>
                <div class="col-md-4">
                    <%= f.label :end_date,'Data zakończenia', class:'col-sm-2 col-form-label text-light' %>
                    <%= f.date_field :end_time, class:'form-control' %>
                </div>
            </div>
            
            <p>
                <%= f.submit "#{@new_edit_btn}",class:'btn btn-success' %>
                <%= link_to "Powrót",task_index_path,class:'btn btn-info' %>
            </p>







        <% end %>
    </div>
</div>
