<div class="nested-fields row">
    <div class="field">


            <%= f.label :content,'Opis', class:'col-sm-2 col-form-label text-light' %>
            <div class="col-sm-3">
                <%= f.text_field :content, class:'form-control' %>
            </div>
   
        <%= f.label :worker %>
        <%= f.text_field :worker %>

        <%= link_to_remove_association 'Usuń krok', f, class:'btn btn-danger' %>

    </div>
</div>

            


    
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
  

